.app {
    background-color: white;
    display: flex;
    align-items: center;
    flex-direction: column;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    height: 320px;
    width: 450px;
    border: solid 1px black;
    border-radius: 10%;
}
input {
    width: 350px;
    height: 30px;
    border: gainsboro 1px solid;
    border-radius: 5px;
    margin: 15px 0;
    padding-left: 33px;
}
.user {
    background: url("img/user.png") no-repeat;
}
.password {
    background: url("img/password.png") no-repeat;
}
button {
    margin-top: 10px;
}